<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
<!--  <h1>Some famous Computer Scientists</h1>
  <div>{{data}}</div>

  <div>
    {% for swimmer in data %}
    <div>{{swimmer[0]}} {{swimmer[1]}} {{swimmer[2]}}</div>
    {% endfor %}
  </div>-->

<p><a href="/another">Go to the other page</a></p>

<p><a href="/select_swimmer">Select Swimmer</a</p>

<!--<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>-->

</body>


</html>
