<!doctype html>
<html>
   <style>
      font-size: 40pt;
   </style>


<h3> Select Swimmer Records </h3>

   <body>
 
      <form action = "{{ url_for('listtimes') }}" method = "POST">
         First Name<br>
         <input type = "text" name = "swimmername" /></br>
         
         
         Event<br>
         <select name = "eventtype">
            <option value="Free50"> Free50 </option>
            <option value="Free100"> Free100 </option>
            <option value="Free200"> Free200 </option>
            <option value="Free500"> Free500 </option>
            <option value=""> All Events </option>
         </select>

         <input type = "submit" value = "submit" /><br>
      </form>
<p><a  href="/">Return to Index</a></p>     
   </body>
</html>

