<!doctype html>
<html>

<h3> Use this form to select a pool and team to come up with lane assignment during practice. </h3>


   <body>
 
      <form action = "{{ url_for('laneassign') }}" method = "POST">
         Name<br>
         <input type = "text" name = "poolname" /></br>
         
         
         Team<br>
         <input type = "text" name = "teamname" /></br>

         Event<br>
         <select name = "eventname">
            <option value="Free50"> Free50 </option>
            <option value="Free100"> Free100 </option>
            <option value="Free200"> Free200 </option>
            <option value="Free500"> Free500 </option>
            <option value=""> All Events </option>
         </select>
         
 <!--        PINCODE<br>
         <input type = "text" name = "pin" /><br>-->
         <input type = "submit" value = "submit" /><br>
      </form>
<p><a  href="/">Return to Index</a></p>     
   </body>
</html>

